body { }

.new-item {
  max-height: 0;
  opacity: 0;
  transform: scale(0);
  animation: growHeight 0.2s ease forwards;
}
@keyframes growHeight {
  to {
    max-height: 50px;
    opacity: 1;
    transform: scale(1);
  }
}
